<div>
    <h1 style="text-align: center;" class="Header-about">Welcome to the About Us Page </h1>
    </div>
    
    <div>
        <p>This application was created by a group of young students from California State University Of Fresno 
            for a class called IS51 by Lucas Phan. 
        </p>
    </div>
    
    <div class="group-about">
        <h2 style="text-align: center;">Our group is called Tech 51 and consists of:</h2>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Safyan</td>
                  <td>Iqbal</td>
                  <td>safyan23@mail.fresnostate.edu</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Chris</td>
                    <td>Mckie</td>
                    <td>chrismckie19@mail.fresnostate.edu</td>
                  </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Christopher</td>
                  <td>Ochoa</td>
                  <td>chris187@mail.fresnostate.edu</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Xayaphone</td>
                  <td>Salinthone</td>
                  <td>xaysalinthone@mail.fresnostate.edu</td>
                </tr>
              </tbody>
          </table>
    </div>
    
    <h3 style="text-align: center;">The Final Countdown Goal </h3>
    <p>The Final Countdown webpage was created to be a user friendly page that makes it easier
        for people to keep track of events coming up.</p>
        <p>This application also has a ToDoList page where you can list and rate your priorities.</p>