<div>
<h1 style="text-align: center;" class="Header-about">Welcome to the About Us Page </h1>
</div>

<div>
    <p>This application was created by a group of young students from California State University Of Fresno 
        for a class called IS51 by Lucas Phan. 
    </p>
</div>

<div class="group-about">
    <h2 style="text-align: center;">Our group is called Tech 51 and consists of:</h2>
    <p style="text-align: center;">Safyan Iqbal</p>
    <p style=" text-align: center;">Christopher Ochoa</p>
    <p style=" text-align: center;">Xayaphone Salinthone</p>
    <p style=" text-align: center;">Chris McKie</p>
</div>

